<nav class="navbar pt-2 mb-2 d-flex justify-content-between align-items-center">
    <div class="nav-logo text-right">
        <a href="/">
            <img class="nav-icon" src="/assets/habibati-icon.png" alt="H A B I B A T I – Icon">
        </a>
    </div>
    <ul class="d-flex justify-content-between mr-4">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Brands</a></li>
    </ul>
</nav>