<nav class="navbar my-3 d-flex justify-content-between align-items-center">
    <div class="nav-logo">
        <div class="text-right">H A B I B A T I</div>
    </div>
    <ul class="d-flex justify-content-between align-items-center mr-5">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Brands</a></li>
    </ul>
</nav>