<%- layout('./layout/boilerplate') %>

<header>
    <%- include('./partials/navbar') %>
    <video class="mx-auto video-bg" preload="true" autoplay="true" muted loop>
        <div class="blur-bg">Hello</div>
        <source src="/assets/HABIBATI.mp4" type="video/mp4">
    </video>
</header>