<form class="reviews-form col-6 pl-0 mt-4" action="" method="post" novalidate>
    <p>Wanna leave your own review? Fill the form below.</p>
    <div class="form-group">
        <label class="label-required" for="name">Headline:</label>
        <input type="text" class="form-control" id="name" name="product[name]" placeholder="Leave a headline for your review" required>
        <small id="emailHelp" class="form-text text-muted">Make it short & simple.</small>
        <div class="invalid-feedback">Name is required</div>
    </div>
</form>