/* Browser Defaults */

ul { list-style-type: none; }
a { text-decoration: none; color: #000; }
a:hover { color: unset; text-decoration: none; }

/* error.ejs */
.error-display {
    max-width: 800px;
    margin: 0 auto;
}
.error-img {
    max-width: 400px;
    margin-top: 50px;
}

/* Navbar */
nav {
    background-color: rgba(248, 227, 227, .3);
}
.navbar {
    position: relative;
    padding-bottom: 20px;
}

.navbar-brand {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.nav-icon {
    max-width: 280px;
    opacity: .7;
    /* position: absolute; */
    top: 10px;
    left: 50%;
    /* transform: translateX(-50%); */
    /* padding: 20px 0; */
}
nav ul {
    flex-basis: 30%;
    max-width: 350px;
}
nav li {
    padding-top: 1em;
}
.video-bg {
    width: 90%;
    margin-top: 40px;
    display: block;
    height: 340px;
    object-fit: cover;
    filter: saturate(100%);
    /* brightness ? contrast ? */
}

.brand-block {
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    transition: transform .45s;
    padding: 0;
}
.brand-block:hover {
    transform: scale(1.03);
}
.brand-block:hover .brand-name a {
    opacity: .55;
}
.brand-pic img {
    cursor: pointer;
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.brand-name {
    padding: 10px 0;
}
.brand-name a {
    transition: opacity .15s;
}

/* *** brand.ejs *** */

.brand-card {
    /* border: 1px solid black; */
    max-width: 1000px;
    margin: 0 auto;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,.08); */
    border-radius: 20px;
}
.brand-card-img {
    flex-basis: 25%;
}
.brand-card-img img {
    /* height: 350px; */
    width: 100%;
    border-radius: 20px;
}
.product-catalog-img {
    /* width: 100%; */
    max-height: 170px;

    object-fit: contain;
}
.brand-card-description {
    margin-right: 10px;
    flex-basis: 60%;
}
.label-required:before {
    content: '* ';
    color: red;
    opacity: .9;
    font-size: .9rem;
}
.btn-add {
    background-color: rgba(255,20,147,.7);
    /* color: #fcf7f7; */
    color: #faf5f5;
    /* font-weight: bold; */
}
.btn-add:hover {
    background-color: rgba(254, 90, 178, .4);
}
.product-card img {
    width: 50%;
    margin: 0 auto;
}
.apology-text {
    font-size: .85rem;
}

/* *** product.ejs *** */
.product-card {
    border-radius: 20px;
    padding: 0;
    /* flex-basis: 100%; */
}
.product-card .card-body {
    padding-bottom: 10px;
}
.product-card p {
    margin-bottom: .5em;
}
.product-card-img {
    flex-basis: 30%;
}
.product-card-img img {
    width: 100%;
}
.product-card-description {
    flex-basis: 55%;
}
.product-card-description p {
    margin-bottom: .4em;
}
.product-card-description p span {
    font-weight: 600;
}
.ingredients-table {
    display: block;
}
.ingredients-table tr {
    border: 1px solid black;
    display: block;
    padding: .2em .7em;
}
.dropdown-block {
    max-width: 800px;
    border-radius: 5px;
    background-color: rgba(209, 209, 209, .15);
    /* padding: .3em .8em; */
}
.dropdown-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em .8em;
    transition: background-color .15s;
}
.dropdown-heading:hover {
    cursor: pointer;
    background-color: rgba(209, 209, 209, .3);
}
.dropdown-heading_active {
    background-color: rgba(209, 209, 209, .15);
}
.dropdown-btn {
    font-size: 1.4rem;
    font-weight: 600;
    transition: transform .35s;
}
.dropdown-btn_active {
    transform: rotate(45deg);
}
.dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height .25s ease-in-out, padding .2s;
    padding: 0 .8em;
}
.dropdown-content_opened {
    max-height: 150px;
    padding: .2em .8em;
}
.stretched-link {
    margin: 0;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    content: "";
}
.reviews-form {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.total-rating {
    font-size: 1.8rem;
}
.total-based {
    font-size: .85rem;
    font-style: italic;
}
.review-block {
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    padding: 1em 1.5em;
}
.author-picture {
    max-width: 40px;
}
.author-username {
    font-size: .9rem;
    opacity: .5;
}
.review-heading {
    font-size: 1.2rem;
    font-weight: 600;
}
.review-rating {
    font-size: 1rem;
}

/* @@@ MEDIA QUERIES @@@ */

@media only screen and (max-width: 992px) {
    .navbar {
        padding-bottom: 30px;
    }
    .video-bg {
        height: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .video-bg {
        display: none;
    }
    .nav-icon {
        max-width: 230px;
    }
}